# /usr/share/dbus-1/services

[D-BUS Service]
Name=io.github.kelvinnovais.GawakeServer
Exec=/opt/gawake/bin/gawake-dbus-server
# Optional
# SystemdService=gawake-dbus-server
