[Unit]
Description=Gawake DBus server

[Service]
Type=dbus
BusName=io.github.kelvinnovais.GawakeServer
ExecStart=/usr/lib/systemd/system
# Restart=always
WorkingDirectory=/var/lib/gawake
User=gawake
Group=gawake

# Run automatically on start up
[Install]
WantedBy=multi-user.target